fastapi
uvicorn[standard]
google-search-results
newspaper3k
lxml_html_clean
sentence-transformers
scikit-learn
google-genai
python-dotenv
firebase-admin
spacy==3.7.4
numpy==1.26.4
vaderSentiment
neo4j
groq