fastapi
uvicorn[standard]
langgraph
langchain-groq
python-dotenv
pydantic
neo4j
newspaper3k
google-search-results
vaderSentiment
transformers
torch
google-genai
firebase-admin
spacy==3.7.4
numpy==1.26.4
groq
lxml_html_clean
sentence-transformers
scikit-learn
networkx